body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Rapid ST Trial", "Rand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* * {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
} */

@font-face {
  font-family: "Rapid ST Trial";
  src: local("Rapid ST Trial"),
   url("./assets/fonts/TTF/RapidST_Regular.ttf") format("truetype");
  font-weight: bold;
 }
